h1{
    text-align: center;
    color: purple;
    font-size: 100px;
  }
  h2{
    text-align: center;
    color: red;
  }
  .footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
  }